Repository dapr/docs, pull requests merged in 2022-10, with the labels that each got.

#2832 Add AWS S3 presign url
  daprdocs/content/en/reference/components-reference/supported-bindings/s3.md
Labels: area/components

#2836 Mark Memcached as a stable component.
  daprdocs/data/components/state_stores/generic.yaml
Labels: area/components

#2855 Updated metadata for various Azure components
  daprdocs/content/en/reference/components-reference/supported-bindings/blobstorage.md
  daprdocs/content/en/reference/components-reference/supported-bindings/signalr.md
  daprdocs/content/en/reference/components-reference/supported-bindings/storagequeues.md
  daprdocs/content/en/reference/components-reference/supported-state-stores/setup-azure-blobstorage.md
  daprdocs/content/en/reference/components-reference/supported-state-stores/setup-azure-tablestorage.md
Labels: area/components

#2854 Add docs for component denylist in Configuration spec
  daprdocs/content/en/operations/configuration/configuration-overview.md
Labels: area/runtime/metadata

#2740 pubsub: update rocketmq
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-rocketmq.md
Labels: stale

#2698 Documentation for Jetstream TLS configuration
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-jetstream.md
Labels: area/components

#2745 Support for alternative container runtimes - Podman
  daprdocs/content/en/getting-started/install-dapr-selfhost.md
  daprdocs/content/en/operations/hosting/self-hosted/self-hosted-overview.md
  daprdocs/content/en/operations/hosting/self-hosted/self-hosted-with-podman.md
  daprdocs/content/en/reference/cli/dapr-init.md
  daprdocs/content/en/reference/cli/dapr-uninstall.md
Labels: area/cli

#2876 Update to observability docs for OTEL
  .gitignore
  daprdocs/content/en/concepts/observability-concept.md
  daprdocs/content/en/developing-applications/building-blocks/observability/tracing-overview.md
  daprdocs/content/en/developing-applications/building-blocks/observability/w3c-tracing-overview.md
  daprdocs/content/en/developing-applications/building-blocks/observability/w3c-tracing/_index.md
  daprdocs/content/en/developing-applications/building-blocks/observability/w3c-tracing/w3c-tracing-howto.md
  daprdocs/content/en/developing-applications/building-blocks/observability/w3c-tracing/w3c-tracing-overview.md
  daprdocs/content/en/operations/configuration/configuration-overview.md
  daprdocs/content/en/operations/monitoring/_index.md
  daprdocs/content/en/operations/monitoring/logging/fluentd.md
  daprdocs/content/en/operations/monitoring/logging/logs.md
  daprdocs/content/en/operations/monitoring/logging/newrelic.md
  daprdocs/content/en/operations/monitoring/metrics/_index.md
  daprdocs/content/en/operations/monitoring/metrics/azure-monitor.md
  daprdocs/content/en/operations/monitoring/metrics/grafana.md
  daprdocs/content/en/operations/monitoring/metrics/metrics-overview.md
  daprdocs/content/en/operations/monitoring/tracing/_index.md
  daprdocs/content/en/operations/monitoring/tracing/jaeger.md
  daprdocs/content/en/operations/monitoring/tracing/newrelic.md
  daprdocs/content/en/operations/monitoring/tracing/otel-collector/_index.md
  daprdocs/content/en/operations/monitoring/tracing/otel-collector/open-telemetry-collector-appinsights.md
  daprdocs/content/en/operations/monitoring/tracing/otel-collector/open-telemetry-collector.md
  daprdocs/content/en/operations/monitoring/tracing/setup-tracing.md
  daprdocs/content/en/operations/monitoring/tracing/supported-tracing-backends/_index.md
  daprdocs/content/en/operations/monitoring/tracing/zipkin.md
  daprdocs/static/images/observability-opentelemetry-collector.png
  daprdocs/static/images/observability-sidecar.png
  daprdocs/static/images/observability-tracing.png
  daprdocs/static/images/tracing.png
Labels: area/observability
