Repository dapr/docs, pull requests merged in 2022-05, with the labels that each got.

#2356 [secrets and actors api reference docs] error code fixes
  daprdocs/content/en/reference/api/actors_api.md
Labels: stale

#2423 Add missing upgrade step for 1.7
  daprdocs/content/en/operations/hosting/kubernetes/kubernetes-upgrade.md
Labels: P0

#2416 Fixes in howto-bindings
  daprdocs/content/en/developing-applications/building-blocks/bindings/howto-bindings.md
  daprdocs/content/en/developing-applications/building-blocks/bindings/howto-triggers.md
Labels: area/runtime/bindings

#2426 add new metadata to PubSub pulasr
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-pulsar.md
Labels: area/components

#2428 add huaweicloud csms secret store docs
  daprdocs/content/en/reference/components-reference/supported-secret-stores/_index.md
  daprdocs/content/en/reference/components-reference/supported-secret-stores/huaweicloud-csms.md
Labels: area/components

#2429 Add disableTls to pubsub kafka example config
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-apache-kafka.md
Labels: area/components

#2363 Bindings commercetools
  .gitignore
  daprdocs/.gitignore
  daprdocs/content/en/contributing/codespaces.md
  daprdocs/content/en/reference/components-reference/supported-bindings/_index.md
  daprdocs/content/en/reference/components-reference/supported-bindings/commercetools.md
Labels: area/components

#2424 Add queueEndpoint to docs for Azure Storage Queues binding
  daprdocs/content/en/reference/components-reference/supported-bindings/storagequeues.md
Labels: area/components

#2421 Update how to run your own daprd.exe images (2)
  daprdocs/content/en/reference/arguments-annotations-overview.md
Labels: stale

#2410 Mention that the DAPR_INSTALL_DIR directory must already exist
  daprdocs/content/en/getting-started/install-dapr-cli.md
Labels: stale

#2447 add doc for the Huawei OBS new bindings component
  daprdocs/content/en/reference/components-reference/supported-bindings/_index.md
  daprdocs/content/en/reference/components-reference/supported-bindings/huawei-obs.md
Labels: area/components
