Repository dapr/docs, pull requests merged in 2022-06, with the labels that each got.

#2469 Add docs for RocketMQ pubsub
  daprdocs/content/en/reference/components-reference/supported-pubsub/_index.md
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-rocketmq.md
Labels: waiting-on-code-pr

#2455 Add volume mount support to annotations reference
  daprdocs/content/en/operations/hosting/kubernetes/kubernetes-volume-mounts.md
  daprdocs/content/en/reference/arguments-annotations-overview.md
Labels: area/concepts

#2531 Fixed Go sample code
  daprdocs/content/en/developing-applications/building-blocks/state-management/howto-get-save-state.md
Labels: area/runtime/state

#2534 docs: in memory state store component
  daprdocs/content/en/reference/components-reference/supported-state-stores/setup-inmemory.md
  daprdocs/data/components/state_stores/generic.yaml
Labels: area/components

#2543 [Bindings] Address issue; general freshness
  daprdocs/content/en/developing-applications/building-blocks/bindings/bindings-overview.md
  daprdocs/content/en/reference/api/bindings_api.md
Labels: area/runtime/bindings

#2465 Add an example of binding multiple routingKeys
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-rabbitmq.md
Labels: area/components
