Repository dapr/docs, pull requests merged in 2022-01, with the labels that each got.

#2089 update pub/sub aws snssqs component to 'beta'
  daprdocs/content/en/reference/components-reference/supported-pubsub/_index.md
Labels: area/components

#2069 pubsub aws snssqs update
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-aws-snssqs.md
Labels: area/components

#2101 update state query API doc with usage limitations
  daprdocs/content/en/developing-applications/building-blocks/state-management/howto-state-query-api.md
Labels: area/runtime/state

#2075 Update open-telemetry-collector-appinsights.yaml
  daprdocs/static/docs/open-telemetry-collector/open-telemetry-collector-appinsights.yaml
Labels: stale

#2113 Update MQTT pubsub to beta
  daprdocs/content/en/reference/components-reference/supported-pubsub/_index.md
Labels: area/components

#1930 Feature/pulsar: Add tenant namespace and backoff doc
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-pulsar.md
Labels: stale, area/components

#2073 Introducing documentation for OCI Object Storage state store component
  daprdocs/content/en/reference/components-reference/supported-state-stores/_index.md
  daprdocs/content/en/reference/components-reference/supported-state-stores/setup-oci-objectstorage.md
Labels: area/components

#2121 Update Event Hubs pubsub to Beta from Alpha
  .gitignore
  daprdocs/content/en/reference/components-reference/supported-pubsub/_index.md
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-azure-eventhubs.md
Labels: area/components

#2123 Release v1.6 (Day of release changes to v1.5)
  .github/workflows/website-root.yml
  README.md
  daprdocs/config.toml
  daprdocs/content/en/operations/support/support-release-policy.md
Labels: do-not-merge

#2124 Release v1.6
  .github/workflows/website-root.yml
  README.md
  daprdocs/config.toml
  daprdocs/content/en/getting-started/quickstarts.md
  daprdocs/content/en/operations/support/support-release-policy.md
  daprdocs/layouts/shortcodes/dapr-latest-version.html
Labels: do-not-merge
