Repository dapr/docs, pull requests merged in 2023-10, with the labels that each got.

#3763 Add Outbox docs
  daprdocs/content/en/developing-applications/building-blocks/pubsub/pubsub-overview.md
  daprdocs/content/en/developing-applications/building-blocks/state-management/howto-outbox.md
  daprdocs/content/en/developing-applications/building-blocks/state-management/state-management-overview.md
  daprdocs/content/en/operations/support/support-preview-features.md
  daprdocs/static/images/state-management-outbox.png
Labels: P0, area/runtime/state, stale

#3754 [Multi-App Run] Update quickstarts to include multi-app run instructions
  daprdocs/content/en/getting-started/quickstarts/bindings-quickstart.md
  daprdocs/content/en/getting-started/quickstarts/pubsub-quickstart.md
  daprdocs/content/en/getting-started/quickstarts/serviceinvocation-quickstart.md
  daprdocs/content/en/getting-started/quickstarts/statemanagement-quickstart.md
Labels: P0, waiting-on-code-pr

#3756 Azure eventhubs bulk subscribe support
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-azure-eventhubs.md
Labels: P0, area/components
