Repository dapr/docs, pull requests merged in 2023-08, with the labels that each got.

#3624 Document "protected" pub/sub topics.
  daprdocs/content/en/developing-applications/building-blocks/pubsub/pubsub-scopes.md
Labels: stale

#3658 Add documentation for get embedding operation in Azure OpenAI
  daprdocs/content/en/reference/components-reference/supported-bindings/openai.md
Labels: area/components

#3642 [WIP] Update service invocation examples
  daprdocs/content/en/developing-applications/building-blocks/service-invocation/howto-invoke-discover-services.md
  daprdocs/content/en/developing-applications/building-blocks/service-invocation/howto-invoke-non-dapr-endpoints.md
  daprdocs/content/en/developing-applications/building-blocks/service-invocation/howto-invoke-services-grpc.md
  daprdocs/content/en/developing-applications/building-blocks/service-invocation/service-invocation-namespaces.md
  daprdocs/content/en/developing-applications/building-blocks/service-invocation/service-invocation-overview.md
  daprdocs/static/images/building-block-service-invocation-example.png
Labels: area/runtime/invoke
