Repository dapr/docs, pull requests merged in 2024-06, with the labels that each got.

#4188 [Actors] Add `ttl` and `data` to API reference
  daprdocs/content/en/reference/api/actors_api.md
Labels: area/runtime/actor

#4074 Add Kafka heartbeat interval and session timeout to component reference
  daprdocs/content/en/reference/components-reference/supported-bindings/kafka.md
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-apache-kafka.md
Labels: area/components

#4164 Jobs [Distributed Scheduler] API docs, pt.1
  daprdocs/content/en/concepts/building-blocks-concept.md
  daprdocs/content/en/concepts/dapr-services/scheduler.md
  daprdocs/content/en/concepts/overview.md
  daprdocs/content/en/developing-applications/building-blocks/jobs/_index.md
  daprdocs/content/en/developing-applications/building-blocks/jobs/howto-schedule-jobs.md
  daprdocs/content/en/developing-applications/building-blocks/jobs/jobs-overview.md
  daprdocs/content/en/getting-started/install-dapr-selfhost.md
  daprdocs/content/en/operations/support/alpha-beta-apis.md
  daprdocs/content/en/operations/support/support-preview-features.md
  daprdocs/content/en/reference/api/jobs_api.md
  daprdocs/content/en/reference/arguments-annotations-overview.md
  daprdocs/content/en/reference/cli/dapr-run.md
  daprdocs/static/images/building_blocks.png
  daprdocs/static/images/buildingblocks-overview.png
  daprdocs/static/images/overview-kubernetes.png
  daprdocs/static/images/overview-standalone.png
  daprdocs/static/images/overview-vms-hosting.png
  daprdocs/static/images/overview.png
  daprdocs/static/images/scheduler/scheduler-architecture.png
Labels: area/scheduler
