Repository dapr/docs, pull requests merged in 2025-08, with the labels that each got.

#4764 Fixed bad metadata property in .NET docs
  daprdocs/content/en/developing-applications/building-blocks/pubsub/pubsub-raw.md
Labels: area/runtime/pubsub, content/incorrect-information

#4692 docs: add replicateSubscriptionState field to Pulsar pubsub component
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-pulsar.md
Labels: area/components

#4615 Baggage Docs
  daprdocs/content/en/operations/observability/tracing/tracing-overview.md
  daprdocs/content/en/operations/observability/tracing/w3c-tracing-overview.md
Labels: area/observability

#4724 Document `excludeMetaHeaderRegex` kafka pubsub configuration
  daprdocs/content/en/reference/components-reference/supported-pubsub/setup-apache-kafka.md
Labels: waiting-on-code-pr
